:root {
    --bg-color: #245858;
    --light-color: #a0e0e0;
  }

body {
    background-color: var(--bg-color);
    color: white;
}

nav {
    background-color: var(--bg-color);
}

article {
    padding: 5px;
    border-top: solid;
    border-color: var(--light-color);
}

.card {
    background-color: var(--bg-color);
    border-width: 3px;
    border-color: var(--light-color);
}

.section-title {
    padding: 30px;
}

.fixed-top {
    background-color: var(--bg-color)
}