{% extends "base.html" %}
{% set active_page = 'about' %}

{% block content %}
<div class="container">
    <article>
        <h2>Technical Skills</h2>
        <br>
        <h3>Languages</h3>
        <p>C, C++, Java, Javascript, Python, SQL, VBScript</p>
        <h3>Tools</h3>
        <p>Autodesk Inventor, Android Studio, Google Firebase, Flask, Fusion 360, Git, Linux, MySQL, SQLite</p>
    </article>

    <article>
        <h2>Education</h2>
        <h4>University of Illinois Urbana-Champaign</h4>
        <h4>Bachelor of Science in Computer Science, 2023</h4>
        <br>
        <h3>Relevant Coursework</h3>
        <div class="row">
            <div class="col">
                <ul>
                    <li>Algorithms and Models of Computation</li>
                    <li>Database Systems</li>
                    <li>Software Design Studio</li>
                    <li>Applied Machine Learning</li>
                </ul>
            </div>
            
            <div class="col">
                <ul>
                    <li>Interactive Computer Graphics</li>
                    <li>Data Mining </li>
                    <li>System Programming</li>
                    <li>Data Structures</li>
                </ul>
            </div>
        </div>
    </article>

    <article>
        <h2>Interests and Hobbies</h2>
        <div class="row">
            <div class="col">
                <ul>
                    <li>3D Design and 3D Printing</li>
                    <li>Gardening</li>
                    <li>Photography</li>
                </ul>
            </div>
            
            <div class="col">
                <ul>
                    <li>Fountain Pen Restoration</li>
                    <li>Home Automation</li>
                    <li>Tennis</li>
                </ul>
            </div>
        </div>
    </article>
</div>


{% endblock %}