{% extends "base.html" %}
{% set active_page = 'contact' %}

{% block content %}
<div class="container w-50">
    <h3 class="text-center py-5">Let's get in touch</h3>
    <div class="row py-2">
        <div class=col>
            <h4>Email</h4>
        </div>
        <div class="col">
            <a class="btn btn-outline-light float-right" href="mailto:gabrielgrais11@gmail.com" target="_blank">Gabrielgrais11@gmail.com</a>
        </div>
    </div>

    <div class="row py-2">
        <div class=col>
            <h4>LinkedIn</h4>
        </div>
        <div class="col">
            <a class="btn btn-outline-light float-right" href="https://www.linkedin.com/in/gabriel-grais/" target="_blank">Gabriel-Grais</a>
        </div>
    </div>
    
    <div class="row py-2">
        <div class=col>
            <h4>Github</h4>
        </div>
        <div class="col">
            <a class="btn btn-outline-light float-right" href="https://github.com/Gabgra11" target="_blank">Gabgra11</a>
        </div>
    </div>
</div>
{% endblock %}