{% extends "base.html" %}
{% set active_page = 'home' %}

{% block content %}
<div class="container p-5">
  <div class="row">
    <div class="col-9 my-auto">
      <!-- <h2></h2>  -->
      <!-- <br> -->
      <h4>I am passionate about making people's lives easier via programming. Solving issues with code is incredibly satisfying. From keeping my houseplants alive to streamlining repetitive tasks in the workplace, the satisfaction from resolving issues via programming has always motivated me to pursue a career in Computer Science.</h4>
    </div>
    <div class="col-3">
      <img src="static/img/cutout.png" class="img-fluid" style="filter: drop-shadow(-10px -10px 10px #326e6e);">
    </div>
  </div>
</div>
{% endblock %}